.portfolio .main-header {
    background: black url(assets/agriculture.jpg) no-repeat;
    background-size: cover;
    min-height: 410px;
    background-position: center;
}

.portfolio .readmore {
    display: none;
}

.portfolio .quote::after {
    display: none;
}
.portfolio #AboutMe {
    background: #2d2d2d;
}

.portfolio body {
    background: #f5f5f5;
}

.portfolio blockquote, .portfolio p {
    margin: 0;
    padding: 0;
}

.portfolio .l-quote {
    position: relative;
    padding: 25px 25px 20px;
    margin: 0px;
    color: #585858;
    background: #e6e6e6;
}

    .portfolio .l-quote p {
        color: #585858;
    }

.portfolio .alert-success {
    color: #152257;
    background-color: #7fccff;
    border-color: #6aaeff;
}

.portfolio .skillrow {
    padding: 30px 0px;
}

.portfolio .sub-headline {
    text-transform: uppercase;
    color: #498486 !important;
    line-height: unset !important;
    font-weight: 600;
    letter-spacing: 1px;
}

.portfolio .newtab {
    margin-left: 10px;
    color: #3c81ae;
}

/*
.portfolio #newtabid {
    cursor: pointer;
}

.portfolio #newtabid:hover {
    color: #7fccff !important;
} */
