.skillset .inline-block {
    display: inline-block;
}

.skillset #mynavbar {
    padding: 20px 0px;
}

.skillset .alert {
    padding: 7px 15px;
}

.skillset .alert-success {
    margin-left: 15px;
}

.skillset .sub-headline {
    padding-bottom: unset;
    color: #389889 !important;
    line-height: 2.5em;
}

.skillset .main-header {
    background: black url(assets/computer-tablet.jpg) no-repeat;
    background-size: cover;
    min-height: 410px;
}

.skillset #Kompetenser {
    background: #2d2d2d;
}

.skillset #Kompetenser h2 {
    color: #b9b9b9;
}

.skillset .spanskill {
    width: 100%;
    height: 20px;
    background-color: white;
    overflow: hidden;
    border-radius: 5px;
    margin-top: 10px;
}

.skillset .meter {
    width: 100%;
    height: 20px;
    background-color: #389889;
}

.skillset .skillrow {
    padding: 20px 20px;
}

@media (max-width: 991px) {
    .skillset .skillrow {
        padding: 20px 0px;
    }
}
